// colors
$color-gray:#EDEDED;
$color-purple-dark:#180624;
$color-purple:#511378;
$color-purple-gradient:linear-gradient(180deg, #622B86 0%, #310B48 100%);

// fonts
$primary-font:'Poppins';
$secondary-font:'Roboto'