
.block-text{
    width:34.5rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.01);
    border-radius: 1.52rem;
    display:flex;
    margin-bottom:2.8rem;
    height:18.1rem;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-left:2rem;
&-text{
    font-family:$primary-font;
}
&-food-desktop{
    background-color: $color-purple;
    color:white;
    width:5.4rem;
    height:2.4rem;
    border:none;
    padding:.3rem .9rem .3rem 1rem;
    border-radius: 1.4rem;  
    font-size:1.2rem;
    margin-top:0rem;
    margin-bottom: 0rem;
    position:relative;
    font-family:$primary-font;
    font-weight:bold
}
&-number{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:.6rem;
    background-color: #180624;
    font-family:$primary-font;
    color:#fff;
    border-radius: .6rem;
    width:3.8rem;
    left:29.2rem;
    position:relative;
    height:3.8rem;
    font-size:2rem;
    top:0.28rem;
    line-height: 2.8rem;
    text-align: center;
    font-weight: bold;
}
h1{
    letter-spacing: .01rem;
    word-spacing: .18rem;
    width: 25.0rem;
    margin-bottom: 1rem;
    color: #180624;
    font-family: $primary-font;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 24px;
    margin-top: 1rem;
}
span{
    color:#626262;
    line-height: 22px;
    font-weight:normal;
    font-size:1.4rem;
}
}

@media(min-width:800px){
    .block-text{
        margin-right: 2rem;
    }
}

@media(min-width:1300px){
    .block-text{
        margin-right: 0rem;
        margin-bottom:2rem;
        width:30rem;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.01);
        border-radius: 1.4rem;
        background-color: white;
        display:flex;
        flex-direction: column;
        width:29.5rem;
        height:16.8rem;
        justify-content: center;
        padding-bottom: 3rem;
        padding-left:2rem;
    &-text{
        font-family:$primary-font;
    }
    &-food-desktop{
        background-color: $color-purple;
        color:white;
        width:5.4rem;
        height:2.4rem;
        border:none;
        padding:.3rem .9rem .3rem 1rem;
        border-radius: 1.4rem;  
        font-size:1.2rem;
        margin-top:0rem;
        margin-bottom: 0rem;
        position:relative;
        font-family:$primary-font;
        font-weight:bold
    }
    &-number{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:.6rem;
        background-color: #180624;
        font-family:$primary-font;
        color:#fff;
        border-radius: .6rem;
        width:3.8rem;
        left:24.2rem;
        position:relative;
        height:3.8rem;
        font-size:2rem;
        top:1.28rem;
        line-height: 2.8rem;
        text-align: center;
        font-weight: bold;
    }
    h1{
        letter-spacing: .01rem;
        word-spacing: .18rem;
        width: 25.0rem;
        margin-bottom: 1rem;
        color: #180624;
        font-family: $primary-font;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 24px;
        margin-top: 1rem;
    }
    span{
        color:#626262;
        line-height: 22px;
        font-weight:normal;
        font-size:1.4rem;
    }
}

}
